.page-registerform {
  background-image: url('../../assets/images/bg-registbook.jpg');
  background-size: cover;
  background-attachment: fixed;
}

.page-registerform .card {
  width: 75%;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  box-shadow: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.9);
}

.page-registerform form {
  margin: 0 auto;
  width: 80%;
  padding: 30px;
}
